// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$yellow-dark: rgb(216, 166, 73);
$orange: #E67E22;
$green: #1EDD88;
$dark-gray: #0E0000;
$light-gray: rgba(244, 244, 244, 0.788);
$light-gray-hover: rgba(244, 244, 244, 0.692);
$gray: rgb(65, 65, 65);
