// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$yellow-dark: #d8a649;
$orange: #E67E22;
$green: #1EDD88;
$dark-gray: #0E0000;
$light-gray: #f4f4f4c9;
$light-gray-hover: #f4f4f4b0;
$gray: #414141;
