// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');
// Define fonts for body and headers
$body-font: 'Kaushan Script', cursive;
$headers-font: 'Kaushan Script', cursive;
$small-font: 'Baloo Paaji 2', cursive;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

$text-shadow: 2px 2px rgba(0,0,0,0.4);

p {
    font-family: $small-font;
}

.select2-results__option {
    font-family: $small-font;
}