<div class="homepage">
    <h1>Crazy Cocktails</h1>
    <%= link_to "See all the cocktails", cocktails_path, class:"btn-homepage" %>
    <div class="search-homepage">
        <%= form_tag cocktails_path, method: :get, class: "form-inline" do %>
            <%= text_field_tag :query, "", placeholder: "Search specific cocktails or ingredients", class: "searchbar-homepage" %>
            <button class='btn-homepage-search ml-1' id="search-cocktails" style='width:40px;'>
                <%= icon_search("search") %>
            </button>
        <% end %>
    </div>
</div>
