<div class="container">
    <div class="title-cocktails"><span style="color: #d8a649;">T</span>he <span style="color: #d8a649;">C</span>ocktails</div>
    <div class="row">
        <% @cocktails.each do |cocktail| %>
        <div class="col-4">
                <div class="card-cocktail my-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.cocktail_image.key %>')">
                    <div class="card-cocktail-name">
                        <%= link_to cocktail.name, cocktail_path(cocktail) %>
                    </div>
                    <div class="cocktail-action">
                        <%= link_to icon_edit("edit"), edit_cocktail_path(cocktail), class: "mr-2"%>
                        <%= link_to icon_trash("trash"), cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?"} %>
                    </div>
                </div>
        </div>
        <% end %>
    </div>
</div>
