// Specific CSS for your home-page
$background-home: rgba(0, 0, 0, 0.31);
$background-home-hover: rgba(0, 0, 0, 0.36);

.homepage {
    text-align: center;
    position: absolute;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('banner-home.jfif');
    
    h1 {
        font-size: 88px;
        margin: 20vh 0 0 0;
        color: white;
        text-shadow: $text-shadow;
    }

    .btn-homepage {
        border: none;
        margin: 15vh 0 0 0;
        background: $background-home;
        border-radius: 8px;
        font-size: 18px;
        display: inline-block;
        padding: 20px 40px;
        color: $yellow;
        text-decoration: none;
        &:hover {
            background: $background-home-hover;
        }
    }

    .search-homepage {
        margin: 10vh 0 0 0;
        display: flex;
        justify-content: center;
    }

    .searchbar-homepage {
        width: 230px;
        font-size: 12px;
        background: $background-home;
        border: none;
        border-radius: 4px;
        padding: 7px 8px;
        color: $light-gray;
        &::placeholder {
            color: $light-gray;
        }
    }

    .btn-homepage-search {
        background: $background-home;
        border: none;
        border-radius: 4px;
        padding: 4px 8px;
        color: $yellow;
    }
}
