.banner {
    height: 400px;
    background-position: center;
    background-size: cover;
    width: 100vw;
    position: absolute;
    h1 {
        color: white;
        padding: 20px;
        text-shadow: 2px 2px rgba(0,0,0,0.4);
        font-size: 62px;
    }
    .container-banner {
        position: relative;
        margin-top: 20vh;
    }
}