.btn-remove-ingredient {
    display: flex;
    align-items: center;
    a {
        color: $light-gray;
        text-shadow: $text-shadow;
        &:hover {
            text-decoration: none;
            color: $light-gray-hover;
            text-shadow: $text-shadow;
        }
    }
}

.btn-yellow {
    color: $yellow;
    padding: 8px 16px;
    border: solid 1px $yellow;
    border-radius: 12px;
    &:hover {
        color: $yellow-dark;
        border: solid 1px $yellow-dark;
    }
}